In [7]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession

conf = SparkConf().setAppName("spark_join")\
                  .setMaster("spark://workspace:7077")
sparkContext = SparkContext(conf=conf)
spark = SparkSession(sparkContext=sparkContext)

In [2]:
csv_dir = "file:///home/hooniegit/git/study/rdd-manufacture/data/movielens/ml-latest"
genome_scores = spark.read.csv(f"{csv_dir}/genome-scores.csv", header=True, inferSchema=True)
genome_tags = spark.read.csv(f"{csv_dir}/genome-tags.csv", header=True, inferSchema=True)
links = spark.read.csv(f"{csv_dir}/links.csv", header=True, inferSchema=True)
movies = spark.read.csv(f"{csv_dir}/movies.csv", header=True, inferSchema=True)
ratings = spark.read.csv(f"{csv_dir}/ratings.csv", header=True, inferSchema=True)
tags = spark.read.csv(f"{csv_dir}/tags.csv", header=True, inferSchema=True)

genome_scores.createOrReplaceTempView("genome_scores")
genome_tags.createOrReplaceTempView("genome_tags")
links.createOrReplaceTempView("links")
movies.createOrReplaceTempView("movies")
ratings.createOrReplaceTempView("ratings")
tags.createOrReplaceTempView("tags")

In [3]:
df_1 = spark.sql(
    """
        SELECT
            *
        FROM
            movies m
        INNER JOIN
            ratings r
        ON
            m.movieId = r.movieId
        ORDER BY
            m.movieId DESC  
    """
)
df_1.show()

+-------+--------------------+--------------------+------+-------+------+----------+
|movieId|               title|              genres|userId|movieId|rating| timestamp|
+-------+--------------------+--------------------+------+-------+------+----------+
| 288983|UNZIPPED: An Auto...|         Documentary|254114| 288983|   3.0|1689834886|
| 288977|Skinford: Death S...|      Crime|Thriller|291389| 288977|   3.0|1689815902|
| 288975|The Men Who Made ...|         Documentary|154483| 288975|   4.0|1689812351|
| 288971|  Ouija Japan (2021)|       Action|Horror| 98408| 288971|   0.5|1689798322|
| 288967|State of Siege: T...|        Action|Drama| 47791| 288967|   3.5|1689748357|
| 288965|     Камертон (1979)|             Romance|167321| 288965|   2.5|1689747309|
| 288959|Letters Of Happin...|      Children|Drama|180878| 288959|   2.0|1689723318|
| 288957|Ballet Of Blood (...|              Horror| 11969| 288957|   1.0|1689719936|
| 288955|Agata's Friends (...|               Drama|308174| 288955|   2.0|1689707314|
| 288953|The Eyes Have It ...|              Comedy|154483| 288953|   1.5|1689651150|
| 288951|A Taste of Whale ...|         Documentary|230023| 288951|   3.5|1689713808|
| 288949|Eldorado: Everyth...|         Documentary|327439| 288949|   0.5|1689647030|
| 288947|The Year I Starte...|Comedy|Drama|Romance|217563| 288947|   0.5|1689618045|
| 288945|Mr. Car and the K...|           Adventure| 61020| 288945|   1.0|1689620448|
| 288945|Mr. Car and the K...|           Adventure|217563| 288945|   0.5|1689616599|
| 288943|  The Mount 2 (2023)|              Horror| 87764| 288943|   1.5|1689606991|
| 288941|Mixed Baggage (2023)|Comedy|Drama|Romance|  7644| 288941|   5.0|1689599382|
| 288941|Mixed Baggage (2023)|Comedy|Drama|Romance| 16020| 288941|   4.5|1689573317|
| 288939|Wedding Season (2...|      Comedy|Romance|  7644| 288939|   5.0|1689599406|
| 288939|Wedding Season (2...|      Comedy|Romance| 16020| 288939|   3.5|1689567187|
+-------+--------------------+--------------------+------+-------+------+----------+
only showing top 20 rows

In [4]:
df_2 = spark.sql(
    """
        SELECT DISTINCT
            AVG(r.rating) average,
            r.userId,
            YEAR(FROM_UNIXTIME(r.timestamp)) year,
            MONTH(FROM_UNIXTIME(r.timestamp)) month,
            COUNT(*) count
        FROM
            movies m
        INNER JOIN
            ratings r
        ON
            m.movieId = r.movieId
        GROUP BY
            year,
            month,
            r.userId
        ORDER BY
            year DESC,
            month DESC,
            r.userId
    """
)
df_2.show()

+------------------+------+----+-----+-----+
|           average|userId|year|month|count|
+------------------+------+----+-----+-----+
|               4.0|    33|2023|    7|    3|
|              4.75|   203|2023|    7|    4|
|               4.5|   237|2023|    7|    3|
|               4.0|   301|2023|    7|    3|
|              3.25|   304|2023|    7|   70|
|               4.0|   498|2023|    7|    3|
|              4.25|   536|2023|    7|    2|
|3.3423423423423424|   705|2023|    7|  111|
|               4.0|   720|2023|    7|    1|
|3.1666666666666665|   897|2023|    7|    3|
|               4.0|  1811|2023|    7|    2|
|  4.43859649122807|  2038|2023|    7|   57|
|            3.8125|  2140|2023|    7|    8|
|3.5833333333333335|  2172|2023|    7|    6|
|               3.8|  2270|2023|    7|    5|
|               3.5|  2318|2023|    7|    1|
| 4.142857142857143|  2414|2023|    7|    7|
|               3.5|  2589|2023|    7|    3|
|              3.25|  2651|2023|    7|    6|
|              4.25|  2833|2023|    7|    8|
+------------------+------+----+-----+-----+
only showing top 20 rows

23/12/21 18:29:25 WARN StandaloneAppClient$ClientEndpoint: Connection to workspace:7077 failed; waiting for master to reconnect...
23/12/21 18:29:25 WARN StandaloneSchedulerBackend: Disconnected from Spark cluster! Waiting for reconnection...
23/12/21 18:29:25 WARN StandaloneAppClient$ClientEndpoint: Connection to workspace:7077 failed; waiting for master to reconnect...
23/12/21 18:29:30 ERROR TaskSchedulerImpl: Lost executor 0 on 220.118.158.128: Remote RPC client disassociated. Likely due to containers exceeding thresholds, or network issues. Check driver logs for WARN messages.
23/12/21 18:29:30 ERROR TaskSchedulerImpl: Lost executor 9 on 220.118.158.128: Remote RPC client disassociated. Likely due to containers exceeding thresholds, or network issues. Check driver logs for WARN messages.
23/12/21 18:29:30 ERROR TaskSchedulerImpl: Lost executor 8 on 220.118.158.128: Remote RPC client disassociated. Likely due to containers exceeding thresholds, or network issues. Check driver logs for WARN messages.
23/12/21 18:29:31 ERROR TaskSchedulerImpl: Lost executor 7 on 220.118.158.128: Remote RPC client disassociated. Likely due to containers exceeding thresholds, or network issues. Check driver logs for WARN messages.
23/12/21 18:29:31 ERROR TaskSchedulerImpl: Lost executor 2 on 220.118.158.128: Remote RPC client disassociated. Likely due to containers exceeding thresholds, or network issues. Check driver logs for WARN messages.
23/12/21 18:29:31 ERROR TaskSchedulerImpl: Lost executor 5 on 220.118.158.128: Remote RPC client disassociated. Likely due to containers exceeding thresholds, or network issues. Check driver logs for WARN messages.
23/12/21 18:29:32 ERROR TaskSchedulerImpl: Lost executor 4 on 220.118.158.128: Remote RPC client disassociated. Likely due to containers exceeding thresholds, or network issues. Check driver logs for WARN messages.
23/12/21 18:29:32 ERROR TaskSchedulerImpl: Lost executor 3 on 220.118.158.128: Remote RPC client disassociated. Likely due to containers exceeding thresholds, or network issues. Check driver logs for WARN messages.
23/12/21 18:29:32 ERROR TaskSchedulerImpl: Lost executor 6 on 220.118.158.128: Remote RPC client disassociated. Likely due to containers exceeding thresholds, or network issues. Check driver logs for WARN messages.
23/12/21 18:29:32 ERROR TaskSchedulerImpl: Lost executor 1 on 220.118.158.128: Remote RPC client disassociated. Likely due to containers exceeding thresholds, or network issues. Check driver logs for WARN messages.

In [23]:
df_3 = spark.sql(
    """
        SELECT DISTINCT
            AVG(r.rating) average,
            r.userId,
            YEAR(FROM_UNIXTIME(r.timestamp)) year,
            MONTH(FROM_UNIXTIME(r.timestamp)) month,
            COUNT(*) count
        FROM
            movies m, ratings r
        WHERE
            m.movieId = r.movieId
        GROUP BY
            year,
            month,
            r.userId
        ORDER BY
            year DESC,
            month DESC,
            r.userId
    """
)
df_3.show()

+------------------+------+----+-----+-----+
|           average|userId|year|month|count|
+------------------+------+----+-----+-----+
|               4.0|    33|2023|    7|    3|
|              4.75|   203|2023|    7|    4|
|               4.5|   237|2023|    7|    3|
|               4.0|   301|2023|    7|    3|
|              3.25|   304|2023|    7|   70|
|               4.0|   498|2023|    7|    3|
|              4.25|   536|2023|    7|    2|
|3.3423423423423424|   705|2023|    7|  111|
|               4.0|   720|2023|    7|    1|
|3.1666666666666665|   897|2023|    7|    3|
|               4.0|  1811|2023|    7|    2|
|  4.43859649122807|  2038|2023|    7|   57|
|            3.8125|  2140|2023|    7|    8|
|3.5833333333333335|  2172|2023|    7|    6|
|               3.8|  2270|2023|    7|    5|
|               3.5|  2318|2023|    7|    1|
| 4.142857142857143|  2414|2023|    7|    7|
|               3.5|  2589|2023|    7|    3|
|              3.25|  2651|2023|    7|    6|
|              4.25|  2833|2023|    7|    8|
+------------------+------+----+-----+-----+
only showing top 20 rows

In [24]:
df_4 = spark.sql(
    """
        SELECT DISTINCT
            *
        FROM
            movies m
        INNER JOIN
            genome_scores gs
        ON
            m.movieId = gs.movieId
        INNER JOIN
            genome_tags gt
        ON
            gs.tagId = gt.tagId
    """
)
df_4.show()

+-------+--------------------+--------------------+-------+-----+--------------------+-----+--------------------+
|movieId|               title|              genres|movieId|tagId|           relevance|tagId|                 tag|
+-------+--------------------+--------------------+-------+-----+--------------------+-----+--------------------+
|    967|  Outlaw, The (1943)|             Western|    967|  727| 0.19374999999999998|  727|nudity (full fron...|
|    968|Night of the Livi...|Horror|Sci-Fi|Thr...|    968|   25|              0.1895|   25|           addiction|
|    968|Night of the Livi...|Horror|Sci-Fi|Thr...|    968|   65| 0.02200000000000002|   65|               anime|
|    968|Night of the Livi...|Horror|Sci-Fi|Thr...|    968|   79|               0.272|   79|            artistic|
|    968|Night of the Livi...|Horror|Sci-Fi|Thr...|    968|  264| 0.04949999999999999|  264|       crappy sequel|
|    968|Night of the Livi...|Horror|Sci-Fi|Thr...|    968|  352|0.023749999999999993|  352|     ennio morricone|
|    968|Night of the Livi...|Horror|Sci-Fi|Thr...|    968|  998|             0.81925|  998|            survival|
|    969|African Queen, Th...|Adventure|Comedy|...|    969|  105|0.017249999999999988|  105|        bank robbery|
|    969|African Queen, Th...|Adventure|Comedy|...|    969|  143| 0.12125000000000002|  143|               bleak|
|    969|African Queen, Th...|Adventure|Comedy|...|    969|  162|              0.5395|  162|        breathtaking|
|    969|African Queen, Th...|Adventure|Comedy|...|    969|  221|0.023749999999999993|  221|              clones|
|    969|African Queen, Th...|Adventure|Comedy|...|    969|  535| 0.11625000000000002|  535|         imagination|
|    969|African Queen, Th...|Adventure|Comedy|...|    969|  684|0.022749999999999992|  684|               music|
|    969|African Queen, Th...|Adventure|Comedy|...|    969|  760|               0.492|  760|oscar (best writi...|
|    969|African Queen, Th...|Adventure|Comedy|...|    969|  815|0.027500000000000024|  815|   private detective|
|    969|African Queen, Th...|Adventure|Comedy|...|    969|  851| 0.15000000000000002|  851|          revolution|
|    969|African Queen, Th...|Adventure|Comedy|...|    969|  930|0.049750000000000016|  930|          slow paced|
|    969|African Queen, Th...|Adventure|Comedy|...|    969| 1058| 0.01874999999999999| 1058|unintentionally f...|
|    969|African Queen, Th...|Adventure|Comedy|...|    969| 1075|0.009500000000000008| 1075|video game adapta...|
|    970|Beat the Devil (1...|Adventure|Comedy|...|    970|  233|0.015749999999999986|  233| comic book adaption|
+-------+--------------------+--------------------+-------+-----+--------------------+-----+--------------------+
only showing top 20 rows

In [30]:
df_4_2 = spark.sql(
    """
        SELECT DISTINCT
            m.movieId, 
            m.title, 
            m.genres, 
            gs.tagId, 
            gs.relevance, 
            gt.tag
        FROM
            movies m
        INNER JOIN
            genome_scores gs
        ON
            m.movieId = gs.movieId
        INNER JOIN
            genome_tags gt
        ON
            gs.tagId = gt.tagId
        ORDER BY
            movieId DESC,
            tagId DESC
    """
)
df_4_2.show()

+-------+-------------------+---------------+-----+--------------------+--------------+
|movieId|              title|         genres|tagId|           relevance|           tag|
+-------+-------------------+---------------+-----+--------------------+--------------+
| 288167|Extraction 2 (2023)|Action|Thriller| 1128|             0.03025|       zombies|
| 288167|Extraction 2 (2023)|Action|Thriller| 1127| 0.11225000000000002|        zombie|
| 288167|Extraction 2 (2023)|Action|Thriller| 1126|0.022749999999999992|          wwii|
| 288167|Extraction 2 (2023)|Action|Thriller| 1125|0.029500000000000026|         wuxia|
| 288167|Extraction 2 (2023)|Action|Thriller| 1124|             0.09875|       writing|
| 288167|Extraction 2 (2023)|Action|Thriller| 1123| 0.11449999999999999|       writers|
| 288167|Extraction 2 (2023)|Action|Thriller| 1122|0.027500000000000024| writer's life|
| 288167|Extraction 2 (2023)|Action|Thriller| 1121|0.026249999999999996|  world war ii|
| 288167|Extraction 2 (2023)|Action|Thriller| 1120| 0.04225000000000001|   world war i|
| 288167|Extraction 2 (2023)|Action|Thriller| 1119| 0.08074999999999999|world politics|
| 288167|Extraction 2 (2023)|Action|Thriller| 1118| 0.08100000000000002|     workplace|
| 288167|Extraction 2 (2023)|Action|Thriller| 1117| 0.01824999999999999| working class|
| 288167|Extraction 2 (2023)|Action|Thriller| 1116|               0.376|         women|
| 288167|Extraction 2 (2023)|Action|Thriller| 1115|             0.09125|       wizards|
| 288167|Extraction 2 (2023)|Action|Thriller| 1114|             0.34675|         witty|
| 288167|Extraction 2 (2023)|Action|Thriller| 1113|             0.22275|       witches|
| 288167|Extraction 2 (2023)|Action|Thriller| 1112| 0.13274999999999998|         witch|
| 288167|Extraction 2 (2023)|Action|Thriller| 1111|0.029000000000000026|       wistful|
| 288167|Extraction 2 (2023)|Action|Thriller| 1110|             0.03025|          wine|
| 288167|Extraction 2 (2023)|Action|Thriller| 1109| 0.18924999999999997|    wilderness|
+-------+-------------------+---------------+-----+--------------------+--------------+
only showing top 20 rows

In [31]:
df_4_3 = spark.sql(
    """
        SELECT DISTINCT
            m.movieId,
            m.title,
            m.genres,
            g.tagId,
            g.relevance,
            g.tag
        FROM
            movies m
        INNER JOIN
            (
                SELECT
                    gs.movieId,
                    gs.tagId,
                    gs.relevance,
                    gt.tag
                FROM
                    genome_scores gs
                INNER JOIN
                    genome_tags gt
                ON
                    gs.tagId = gt.tagId
            ) g
        ON
            m.movieId = g.movieId
        ORDER BY
            movieId DESC,
            tagId DESC
    """
)
df_4_3.show()

+-------+-------------------+---------------+-----+--------------------+--------------+
|movieId|              title|         genres|tagId|           relevance|           tag|
+-------+-------------------+---------------+-----+--------------------+--------------+
| 288167|Extraction 2 (2023)|Action|Thriller| 1128|             0.03025|       zombies|
| 288167|Extraction 2 (2023)|Action|Thriller| 1127| 0.11225000000000002|        zombie|
| 288167|Extraction 2 (2023)|Action|Thriller| 1126|0.022749999999999992|          wwii|
| 288167|Extraction 2 (2023)|Action|Thriller| 1125|0.029500000000000026|         wuxia|
| 288167|Extraction 2 (2023)|Action|Thriller| 1124|             0.09875|       writing|
| 288167|Extraction 2 (2023)|Action|Thriller| 1123| 0.11449999999999999|       writers|
| 288167|Extraction 2 (2023)|Action|Thriller| 1122|0.027500000000000024| writer's life|
| 288167|Extraction 2 (2023)|Action|Thriller| 1121|0.026249999999999996|  world war ii|
| 288167|Extraction 2 (2023)|Action|Thriller| 1120| 0.04225000000000001|   world war i|
| 288167|Extraction 2 (2023)|Action|Thriller| 1119| 0.08074999999999999|world politics|
| 288167|Extraction 2 (2023)|Action|Thriller| 1118| 0.08100000000000002|     workplace|
| 288167|Extraction 2 (2023)|Action|Thriller| 1117| 0.01824999999999999| working class|
| 288167|Extraction 2 (2023)|Action|Thriller| 1116|               0.376|         women|
| 288167|Extraction 2 (2023)|Action|Thriller| 1115|             0.09125|       wizards|
| 288167|Extraction 2 (2023)|Action|Thriller| 1114|             0.34675|         witty|
| 288167|Extraction 2 (2023)|Action|Thriller| 1113|             0.22275|       witches|
| 288167|Extraction 2 (2023)|Action|Thriller| 1112| 0.13274999999999998|         witch|
| 288167|Extraction 2 (2023)|Action|Thriller| 1111|0.029000000000000026|       wistful|
| 288167|Extraction 2 (2023)|Action|Thriller| 1110|             0.03025|          wine|
| 288167|Extraction 2 (2023)|Action|Thriller| 1109| 0.18924999999999997|    wilderness|
+-------+-------------------+---------------+-----+--------------------+--------------+
only showing top 20 rows

In [38]:
df_all = spark.sql(
    """
        SELECT
            m.movieId,
            m.title,
            m.genres,
            l.imdbId,
            l.tmdbId,
            r.userId,
            r.rating,
            r.timestamp,
            gs.relevance,
            gs.tagId,
            gt.tag
        FROM
            movies m
        LEFT JOIN
            links l
        ON
            m.movieId = l.movieId
        LEFT JOIN
            ratings r
        ON
            m.movieId = r.movieId
        LEFT JOIN
            genome_scores gs
        ON
            m.movieId = gs.movieId
        LEFT JOIN
            genome_tags gt
        ON
            gs.tagId = gt.tagId
    """
)
df_all.show()

+-------+--------------------+-------------+------+------+------+------+----------+--------------------+-----+---------------+
|movieId|               title|       genres|imdbId|tmdbId|userId|rating| timestamp|           relevance|tagId|            tag|
+-------+--------------------+-------------+------+------+------+------+----------+--------------------+-----+---------------+
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|0.028249999999999997|    1|            007|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|             0.03075|    2|   007 (series)|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|0.025500000000000023|    3|   18th century|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|0.028000000000000025|    4|          1920s|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157| 0.26475000000000004|    5|          1930s|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|0.025500000000000023|    6|          1950s|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157| 0.01874999999999999|    7|          1960s|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|             0.09175|    8|          1970s|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|0.030500000000000027|    9|          1980s|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|0.030000000000000027|   10|   19th century|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|0.018500000000000016|   11|             3d|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157| 0.02350000000000002|   12|           70mm|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|               0.059|   13|            80s|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|0.006000000000000005|   14|           9/11|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|0.003249999999999975|   15|        aardman|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|0.024249999999999994|   16|aardman studios|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|0.006249999999999978|   17|       abortion|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|               0.386|   18|         absurd|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157|               0.131|   19|         action|
|     12|Dracula: Dead and...|Comedy|Horror|112896| 12110| 34486|   3.5|1494535157| 0.09699999999999998|   20|  action packed|
+-------+--------------------+-------------+------+------+------+------+----------+--------------------+-----+---------------+
only showing top 20 rows

In [6]:
spark.stop()