In [2]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession

conf = SparkConf().setAppName("query_basic")\
                  .setMaster("spark://workspace:7077")
sparkContext = SparkContext(conf=conf)
spark = SparkSession(sparkContext=sparkContext)

23/12/20 15:57:23 WARN Utils: Your hostname, workspace resolves to a loopback address: 127.0.0.1; using 220.118.158.128 instead (on interface eno1)
23/12/20 15:57:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/20 15:57:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
parquet_dir = "../data/tlc"

df_2022_01 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2022-01.parquet")
df_2022_02 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2022-02.parquet")
df_2022_03 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2022-03.parquet")
df_2022_04 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2022-04.parquet")
df_2022_05 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2022-05.parquet")
df_2022_06 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2022-06.parquet")
df_2022_07 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2022-07.parquet")
df_2022_08 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2022-08.parquet")
df_2022_09 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2022-09.parquet")
df_2022_10 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2022-10.parquet")
df_2022_11 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2022-11.parquet")
df_2022_12 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2022-12.parquet")
df_2023_01 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2023-01.parquet")
df_2023_02 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2023-02.parquet")
df_2023_03 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2023-03.parquet")
df_2023_04 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2023-04.parquet")
df_2023_05 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2023-05.parquet")
df_2023_06 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2023-06.parquet")
df_2023_07 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2023-07.parquet")
df_2023_08 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2023-08.parquet")
df_2023_09 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2023-09.parquet")
df_2023_10 = spark.read.parquet(f"{parquet_dir}/yellow_tripdata_2023-10.parquet")

df = df_2022_01.union(df_2022_02)\
                    .union(df_2022_03)\
                    .union(df_2022_04)\
                    .union(df_2022_05)\
                    .union(df_2022_06)\
                    .union(df_2022_07)\
                    .union(df_2022_08)\
                    .union(df_2022_09)\
                    .union(df_2022_10)\
                    .union(df_2022_11)\
                    .union(df_2022_12)\
                    .union(df_2023_01)\
                    .union(df_2023_02)\
                    .union(df_2023_03)\
                    .union(df_2023_04)\
                    .union(df_2023_05)\
                    .union(df_2023_06)\
                    .union(df_2023_07)\
                    .union(df_2023_08)\
                    .union(df_2023_09)\
                    .union(df_2023_10)

In [6]:
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [5]:
df.createOrReplaceTempView("Taxi")

In [8]:
df_1 = spark.sql(
    """
        SELECT
            t.passenger_count * 10 passengers,
            t.trip_distance * 1000 trip_kms,
            lower(t.store_and_fwd_flag) flags
        FROM
            Taxi t
    """
)
df_1.show()

+----------+--------+-----+
|passengers|trip_kms|flags|
+----------+--------+-----+
|      20.0|  3800.0|    n|
|      10.0|  2100.0|    n|
|      10.0|   970.0|    n|
|      10.0|  1090.0|    n|
|      10.0|  4300.0|    n|
|      10.0| 10300.0|    n|
|      10.0|  5070.0|    n|
|      10.0|  2020.0|    n|
|      10.0|  2710.0|    n|
|      10.0|   780.0|    n|
|      10.0|  1910.0|    n|
|      30.0|   820.0|    n|
|      30.0|   730.0|    n|
|      20.0|  2160.0|    n|
|      40.0|  1430.0|    n|
|      10.0|  1580.0|    n|
|      30.0|  4200.0|    n|
|      20.0|  2200.0|    n|
|      10.0|   200.0|    n|
|      20.0|  3900.0|    n|
+----------+--------+-----+
only showing top 20 rows

In [9]:
df_2 = spark.sql(
    """
        SELECT
            DISTINCT
                T.PULocationID pulocation,
                T.DOLocationID dolocation,
                T.tpep_pickup_datetime datetime
        FROM
            Taxi T
        ORDER BY
            datetime DESC
    """
)
df_2.show()

+----------+----------+-------------------+
|pulocation|dolocation|           datetime|
+----------+----------+-------------------+
|       142|       116|2023-11-23 13:40:43|
|       132|       112|2023-11-23 10:34:56|
|       233|       249|2023-11-02 06:40:10|
|       132|       132|2023-11-02 04:06:10|
|        65|        66|2023-11-02 01:52:29|
|       132|       265|2023-11-01 19:37:07|
|       161|       263|2023-11-01 00:14:15|
|        43|        43|2023-11-01 00:12:55|
|       141|       264|2023-11-01 00:05:21|
|        68|       263|2023-11-01 00:04:51|
|       113|        90|2023-11-01 00:00:30|
|       265|       264|2023-11-01 00:00:27|
|       114|       231|2023-11-01 00:00:04|
|       249|       164|2023-10-31 23:59:58|
|       132|       218|2023-10-31 23:59:58|
|       132|       159|2023-10-31 23:59:56|
|       107|        68|2023-10-31 23:59:55|
|       141|        97|2023-10-31 23:59:52|
|       186|        48|2023-10-31 23:59:52|
|       211|       158|2023-10-31 23:59:49|
+----------+----------+-------------------+
only showing top 20 rows

In [15]:
df_2022_01.createOrReplaceTempView("df_01")
df_2022_02.createOrReplaceTempView("df_02")

df_3 = spark.sql(
    """
        SELECT
            M.VendorID,
            COUNT(*) count
        FROM
            (
                SELECT
                    *
                FROM
                    df_01 J
                UNION
                SELECT
                    *
                FROM
                    df_02 F
            ) M
        GROUP BY
            M.VendorID
    """
)
df_3.show()

+--------+-------+
|VendorID|  count|
+--------+-------+
|       6|  12337|
|       1|1632961|
|       2|3798002|
|       5|     62|
+--------+-------+

In [22]:
df_4 = spark.sql(
    """
        SELECT
            M.PULocationID pu,
            M.DOLocationID do,
            count(*) count
        FROM
            (
                SELECT
                    *
                FROM
                    df_01 J
                UNION
                SELECT
                    *
                FROM 
                    df_02 F
            ) M
        GROUP BY
            pu,
            do
        ORDER BY
            count DESC
    """
)
df_4.show()

+---+---+-----+
| pu| do|count|
+---+---+-----+
|237|236|39797|
|236|237|34403|
|236|236|28776|
|237|237|25982|
|264|264|25347|
|239|238|15872|
|141|236|15502|
|142|239|15188|
|239|142|15023|
|237|161|14296|
|263|141|14162|
|161|237|13744|
|236|141|13334|
|238|239|13310|
|161|236|13006|
|236|239|12552|
|237|141|12246|
| 48| 68|12232|
|142|238|12177|
|263|236|12153|
+---+---+-----+
only showing top 20 rows

In [29]:
df_5 = spark.sql(
    """
        SELECT
            *
        FROM
            Taxi T
        WHERE
            (T.PULocationID >= 10 AND T.tpep_pickup_datetime >= '2023-01-01 00:00:00')
            OR
            NOT (T.DOLocationID >= 10 AND T.tpep_pickup_datetime <= '2023-01-01 00:00:00')
        ORDER BY
            2 DESC,
            5 DESC
    """
)
df_5.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2023-11-23 13:40:43|  2023-11-23 14:05:43|            1.0|         4.41|       1.0|                 N|         142|         116|           1|       26.1|  0.0|    0.5|      6.02|         0.0|                  1.0|       36.12|                 2.5|        0.0|
|       2| 2023-11-23 10:34:56|  2023-11-23 11:09:40|            1.0|        15.45|       1.0|                 N|         132|         112|           1|       61.1|  0.0|    0.5|       8.0|         0.0|                  1.0|       72.35|                 0.0|       1.75|
|       2| 2023-11-02 06:40:10|  2023-11-02 06:58:21|            1.0|         2.97|       1.0|                 N|         233|         249|           2|       18.4|  0.0|    0.5|       0.0|         0.0|                  1.0|        22.4|                 2.5|        0.0|
|       2| 2023-11-02 04:06:10|  2023-11-02 04:06:15|            1.0|          0.0|       5.0|                 N|         132|         132|           1|       80.0|  0.0|    0.5|      20.0|         0.0|                  1.0|       101.5|                 0.0|        0.0|
|       2| 2023-11-02 01:52:29|  2023-11-02 08:05:37|            1.0|          1.3|       1.0|                 N|          65|          66|           2|       12.1|  0.0|    0.5|       0.0|         0.0|                  1.0|        13.6|                 0.0|        0.0|
|       2| 2023-11-01 19:37:07|  2023-11-01 19:55:38|            1.0|         9.79|       4.0|                 N|         132|         265|           2|       43.6|  0.0|    0.5|       0.0|         0.0|                  1.0|       46.85|                 0.0|       1.75|
|       2| 2023-11-01 00:14:15|  2023-11-01 00:24:11|            5.0|         2.46|       1.0|                 N|         161|         263|           1|       12.8|  1.0|    0.5|      3.56|         0.0|                  1.0|       21.36|                 2.5|        0.0|
|       2| 2023-11-01 00:12:55|  2023-11-01 00:16:16|            2.0|         1.04|       1.0|                 N|          43|          43|           1|        7.2|  1.0|    0.5|       1.5|         0.0|                  1.0|        13.7|                 2.5|        0.0|
|       2| 2023-11-01 00:05:21|  2023-11-01 00:05:21|            2.0|          0.0|       2.0|                 N|         141|         264|           1|       70.0|  2.5|    0.5|      14.8|         0.0|                  1.0|        88.8|                 0.0|        0.0|
|       2| 2023-11-01 00:04:51|  2023-11-01 00:26:51|            6.0|         4.58|       1.0|                 N|          68|         263|           1|       24.0|  1.0|    0.5|       5.8|         0.0|                  1.0|        34.8|                 2.5|        0.0|
|       2| 2023-11-01 00:00:30|  2023-11-01 00:11:55|            1.0|         1.19|       1.0|                 N|         113|          90|           2|       10.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        15.7|                 2.5|        0.0|
|       2| 2023-11-01 00:00:27|  2023-11-01 00:00:30|            1.0|         0.17|       5.0|                 N|         265|         264|           1|       60.0|  0.0|    0.0|       0.0|         0.0|                  1.0|        61.0|                 0.0|        0.0|
|       2| 2023-11-01 00:00:04|  2023-11-01 00:11:31|            5.0|         1.71|       1.0|                 N|         114|         231|           1|       12.8|  1.0|    0.5|      3.56|         0.0|                  1.0|       21.36|                 2.5|        0.0|
|       2| 2023-10-31 23:59:58|  2023-11-01 00:10:46|            1.0|         3.82|       1.0|                 N|         132|         218|           1|       18.4|  1.0|    0.5|      4.18|         0.0|                  1.0|       26.83|                 0.0|       1.75|
|       1| 2023-10-31 23:59:58|  2023-11-01 00:09:04|            1.0|          1.3|       1.0|                 N|         249|         164|           1|       10.7|  3.5|    0.5|       3.1|         0.0|                  1.0|        18.8|                 2.5|        0.0|
|       1| 2023-10-31 23:59:56|  2023-11-01 00:36:01|            1.0|         24.6|       1.0|                 N|         132|         159|           1|       89.8| 2.75|    0.5|       0.0|        6.94|                  1.0|      100.99|                 0.0|       1.75|
|       2| 2023-10-31 23:59:55|  2023-11-01 00:07:47|            2.0|          1.8|       1.0|                 N|         107|          68|           1|       10.7|  1.0|    0.5|      3.14|         0.0|                  1.0|       18.84|                 2.5|        0.0|
|       2| 2023-10-31 23:59:52|  2023-11-01 00:26:03|            5.0|         6.61|       1.0|                 N|         141|          97|           2|       31.0|  1.0|    0.5|       0.0|         0.0|                  1.0|        36.0|                 2.5|        0.0|
|       2| 2023-10-31 23:59:52|  2023-11-01 00:12:26|            1.0|         1.61|       1.0|                 N|         186|          48|           1|       12.8|  1.0|    0.5|      3.56|         0.0|                  1.0|       21.36|                 2.5|        0.0|
|       2| 2023-10-31 23:59:49|  2023-11-01 00:18:13|            1.0|         7.41|       1.0|                 N|         132|         258|           1|       31.0|  1.0|    0.5|       6.7|         0.0|                  1.0|       41.95|                 0.0|       1.75|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [34]:
df_6 = spark.sql(
    """
        SELECT
            *
        FROM
            (
                SELECT
                    *
                FROM
                    df_01 J
                UNION
                SELECT
                    *
                FROM
                    df_02 F
            ) M
        WHERE
            M.tpep_pickup_datetime 
                BETWEEN 
                    '2022-01-31 00:00:00' AND '2022-02-01 00:00:00'
        ORDER BY
            M.tpep_pickup_datetime DESC
    """
)
df_6.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2022-02-01 00:00:00|  2022-02-01 00:10:00|           NULL|         2.51|      NULL|              NULL|          90|          50|           0|      11.09|  0.0|    0.5|      3.08|         0.0|                  0.3|       17.47|                NULL|       NULL|
|       2| 2022-02-01 00:00:00|  2022-02-01 00:15:20|            1.0|         6.53|       1.0|                 N|         132|         258|           2|       20.0|  0.5|    0.5|       0.0|         0.0|                  0.3|       22.55|                 0.0|       1.25|
|       2| 2022-02-01 00:00:00|  2022-02-01 00:19:46|            1.0|         10.2|       1.0|                 N|         132|          39|           1|       30.0|  0.5|    0.5|      6.26|         0.0|                  0.3|       38.81|                 0.0|       1.25|
|       2| 2022-01-31 23:59:58|  2022-02-01 00:20:54|            1.0|        13.06|       1.0|                 N|         132|         223|           2|       36.5|  0.5|    0.5|       0.0|         0.0|                  0.3|       39.05|                 0.0|       1.25|
|       2| 2022-01-31 23:59:52|  2022-02-01 00:07:01|            1.0|         1.84|       1.0|                 N|         162|         186|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|        0.0|
|       2| 2022-01-31 23:59:47|  2022-02-01 00:08:10|            1.0|         1.59|       1.0|                 N|         148|         231|           1|        8.0|  0.5|    0.5|       2.0|         0.0|                  0.3|        13.8|                 2.5|        0.0|
|       1| 2022-01-31 23:59:44|  2022-02-01 00:04:09|            1.0|          1.4|       1.0|                 N|         137|          79|           1|        6.0|  3.0|    0.5|       0.0|         0.0|                  0.3|         9.8|                 2.5|        0.0|
|       2| 2022-01-31 23:59:36|  2022-02-01 00:04:57|            5.0|          1.7|       1.0|                 N|         161|         107|           1|        7.0|  0.5|    0.5|      2.16|         0.0|                  0.3|       12.96|                 2.5|        0.0|
|       1| 2022-01-31 23:59:34|  2022-02-01 00:08:12|            1.0|          1.2|       1.0|                 N|         237|         164|           2|        7.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        11.3|                 2.5|        0.0|
|       2| 2022-01-31 23:59:34|  2022-02-01 00:13:47|            1.0|         2.28|       1.0|                 N|         114|         264|           1|       11.0|  0.5|    0.5|       1.0|         0.0|                  0.3|        15.8|                 2.5|        0.0|
|       1| 2022-01-31 23:59:30|  2022-02-01 00:09:58|            2.0|          2.8|       1.0|                 N|         107|         141|           1|       10.0|  3.0|    0.5|       1.0|         0.0|                  0.3|        14.8|                 2.5|        0.0|
|       2| 2022-01-31 23:59:26|  2022-02-01 00:32:25|            1.0|          8.9|       1.0|                 N|         142|          37|           2|       29.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        33.3|                 2.5|        0.0|
|       2| 2022-01-31 23:59:21|  2022-02-01 00:05:57|            1.0|         1.41|       1.0|                 N|         229|         164|           4|       -7.0| -0.5|   -0.5|       0.0|         0.0|                 -0.3|       -10.8|                -2.5|        0.0|
|       2| 2022-01-31 23:59:21|  2022-02-01 00:05:57|            1.0|         1.41|       1.0|                 N|         229|         164|           2|        7.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|                 2.5|        0.0|
|       2| 2022-01-31 23:59:14|  2022-02-01 00:03:36|            1.0|         1.06|       1.0|                 N|          79|         224|           1|        5.5|  0.5|    0.5|      1.86|         0.0|                  0.3|       11.16|                 2.5|        0.0|
|       1| 2022-01-31 23:59:13|  2022-02-01 00:05:08|            2.0|          1.2|       1.0|                 N|         161|         186|           1|        6.5|  3.0|    0.5|       1.0|         0.0|                  0.3|        11.3|                 2.5|        0.0|
|       2| 2022-01-31 23:59:07|  2022-02-01 00:29:30|            1.0|        10.89|       1.0|                 N|         132|          72|           2|       33.0|  0.5|    0.5|       0.0|         0.0|                  0.3|       35.55|                 0.0|       1.25|
|       1| 2022-01-31 23:59:04|  2022-02-01 00:03:06|            1.0|          1.2|       1.0|                 N|          48|          48|           1|        5.5|  3.0|    0.5|       5.0|         0.0|                  0.3|        14.3|                 2.5|        0.0|
|       2| 2022-01-31 23:59:00|  2022-02-01 00:06:58|            2.0|         2.92|       1.0|                 N|         162|          75|           1|       10.0|  0.5|    0.5|      3.45|         0.0|                  0.3|       17.25|                 2.5|        0.0|
|       1| 2022-01-31 23:58:59|  2022-02-01 00:08:51|            1.0|          2.3|       1.0|                 N|         230|         141|           1|        9.5|  3.0|    0.5|      2.65|         0.0|                  0.3|       15.95|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [36]:
df_7 = spark.sql(
    """
        SELECT
            *
        FROM
            Taxi T
        WHERE
            T.tpep_pickup_datetime
                IN
                    (
                        SELECT 
                            J.tpep_pickup_datetime
                        FROM
                            df_01 J
                        UNION
                        SELECT
                            F.tpep_pickup_datetime
                        FROM
                            df_02 F
                    )
        ORDER BY
            T.tpep_pickup_datetime DESC
    """
)
df_7.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2022-05-24 17:41:50|  2022-05-24 17:53:43|            1.0|         4.73|       1.0|                 N|          19|          28|           2|       15.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        17.3|                 0.0|        0.0|
|       2| 2022-05-24 17:41:50|  2022-05-24 17:43:27|            2.0|         0.66|       1.0|                 N|         239|         142|           1|        4.0|  0.5|    0.5|      1.56|         0.0|                  0.3|        9.36|                 2.5|        0.0|
|       1| 2022-05-24 17:41:50|  2022-05-24 17:52:33|            1.0|          1.7|       1.0|                 N|         113|         224|           1|        9.0|  3.5|    0.5|       3.3|         0.0|                  0.3|        16.6|                 2.5|        0.0|
|       2| 2022-05-24 17:41:50|  2022-05-24 17:58:48|            1.0|          2.3|       1.0|                 N|         236|         140|           1|       12.5|  1.0|    0.5|       1.0|         0.0|                  0.3|        17.8|                 2.5|        0.0|
|       2| 2022-05-24 17:41:50|  2022-05-24 17:50:49|            1.0|         0.54|       1.0|                 N|         164|         100|           2|        7.0|  1.0|    0.5|       0.0|         0.0|                  0.3|        11.3|                 2.5|        0.0|
|       2| 2022-05-18 20:41:57|  2022-05-18 20:47:45|            4.0|         1.35|       1.0|                 N|          50|         142|           1|        6.5|  1.0|    0.5|       1.0|         0.0|                  0.3|        11.8|                 2.5|        0.0|
|       2| 2022-05-18 20:41:57|  2022-05-18 21:32:50|            1.0|        20.79|       2.0|                 N|         132|         238|           1|       52.0|  0.0|    0.5|      10.0|        6.55|                  0.3|        73.1|                 2.5|       1.25|
|       2| 2022-05-18 20:17:19|  2022-05-18 20:22:58|            4.0|         1.47|       1.0|                 N|          48|         142|           1|        6.5|  1.0|    0.5|      2.16|         0.0|                  0.3|       12.96|                 2.5|        0.0|
|       2| 2022-05-18 20:17:19|  2022-05-18 20:20:01|            1.0|         0.63|       1.0|                 N|         230|          48|           1|        4.0|  0.5|    0.5|       3.0|         0.0|                  0.3|        10.8|                 2.5|        0.0|
|       2| 2022-05-18 20:17:19|  2022-05-18 20:39:25|            1.0|         2.43|       1.0|                 N|         163|          68|           2|       14.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        18.3|                 2.5|        0.0|
|       2| 2022-05-15 02:56:00|  2022-05-15 03:15:37|            2.0|         2.19|       1.0|                 N|         186|          79|           2|       13.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        16.8|                 2.5|        0.0|
|       2| 2022-05-15 02:56:00|  2022-05-15 03:08:00|           NULL|         2.87|      NULL|              NULL|         158|         163|           0|       13.6|  0.0|    0.5|      3.74|         0.0|                  0.3|       20.64|                NULL|       NULL|
|       2| 2022-05-15 02:56:00|  2022-05-15 03:14:00|           NULL|         6.63|      NULL|              NULL|         232|         145|           0|      23.07|  0.0|    0.5|      2.94|         0.0|                  0.3|       29.31|                NULL|       NULL|
|       2| 2022-05-15 02:56:00|  2022-05-15 03:12:00|           NULL|         3.84|      NULL|              NULL|          48|          45|           0|      20.85|  0.0|    0.5|      5.35|         0.0|                  0.3|        29.5|                NULL|       NULL|
|       2| 2022-05-15 02:38:50|  2022-05-15 02:55:12|            2.0|         2.86|       1.0|                 N|          43|         186|           2|       13.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        16.3|                 2.5|        0.0|
|       1| 2022-05-15 02:38:50|  2022-05-15 02:52:50|            1.0|          1.7|       1.0|                 N|         234|         144|           1|        9.0|  3.0|    0.5|       3.2|         0.0|                  0.3|        16.0|                 2.5|        0.0|
|       1| 2022-05-15 02:38:50|  2022-05-15 02:48:17|            4.0|          2.4|       1.0|                 N|          50|          68|           1|        9.5|  3.0|    0.5|       2.0|         0.0|                  0.3|        15.3|                 2.5|        0.0|
|       2| 2022-05-03 10:24:01|  2022-05-03 10:30:06|            4.0|          0.9|       1.0|                 N|          75|          41|           1|        6.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.3|                 0.0|        0.0|
|       2| 2022-05-03 10:24:01|  2022-05-03 11:10:49|            1.0|         6.03|       1.0|                 N|          42|         161|           1|       30.5|  0.0|    0.5|      6.76|         0.0|                  0.3|       40.56|                 2.5|        0.0|
|       2| 2022-05-03 10:02:46|  2022-05-03 10:15:04|            3.0|         4.27|       1.0|                 N|         161|          42|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.8|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [38]:
df_08 = spark.sql(
    """
        SELECT
            DISTINCT
                *
        FROM
            Taxi T
        WHERE
            T.tpep_pickup_datetime
                LIKE
                    "2023-08%"
        ORDER BY
            T.tpep_pickup_datetime DESC
    """
)
df_08.show()

23/12/20 16:57:23 ERROR TaskSchedulerImpl: Lost executor 6 on 220.118.158.128: Command exited with code 137

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2023-08-31 23:59:59|  2023-09-01 00:07:30|            1.0|         2.63|       1.0|                 N|         161|         238|           1|       12.1|  1.0|    0.5|       1.0|         0.0|                  1.0|        18.1|                 2.5|        0.0|
|       1| 2023-08-31 23:59:59|  2023-09-01 00:26:31|            1.0|          5.8|       1.0|                 N|         161|          80|           1|       30.3|  3.5|    0.5|      7.05|         0.0|                  1.0|       42.35|                 2.5|        0.0|
|       2| 2023-08-31 23:59:59|  2023-09-01 00:08:05|            2.0|         2.25|       1.0|                 N|         236|          74|           2|       12.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        17.1|                 2.5|        0.0|
|       2| 2023-08-31 23:59:58|  2023-09-01 00:13:01|           NULL|         3.58|      NULL|              NULL|         163|          74|           0|      16.35|  0.0|    0.5|       0.0|         0.0|                  1.0|       20.35|                NULL|       NULL|
|       2| 2023-08-31 23:59:58|  2023-09-01 00:09:30|            1.0|         1.47|       1.0|                 N|         144|          79|           1|       10.7|  1.0|    0.5|      3.14|         0.0|                  1.0|       18.84|                 2.5|        0.0|
|       2| 2023-08-31 23:59:58|  2023-09-01 00:25:19|            1.0|        10.95|       1.0|                 N|         138|         125|           1|       45.0|  6.0|    0.5|      11.0|         0.0|                  1.0|       67.75|                 2.5|       1.75|
|       2| 2023-08-31 23:59:58|  2023-09-01 00:15:27|            1.0|         2.84|       1.0|                 N|         162|         144|           1|       17.0|  1.0|    0.5|       4.4|         0.0|                  1.0|        26.4|                 2.5|        0.0|
|       2| 2023-08-31 23:59:55|  2023-09-01 00:35:40|            1.0|         9.58|       1.0|                 N|          48|         181|           1|       43.6|  1.0|    0.5|     11.11|        6.94|                  1.0|       66.65|                 2.5|        0.0|
|       2| 2023-08-31 23:59:53|  2023-09-01 00:20:55|            1.0|         4.32|       1.0|                 N|         148|         163|           1|       23.3|  1.0|    0.5|       1.0|         0.0|                  1.0|        29.3|                 2.5|        0.0|
|       2| 2023-08-31 23:59:51|  2023-09-01 00:43:34|            1.0|        19.31|       2.0|                 N|         132|         249|           1|       70.0|  0.0|    0.5|      14.8|         0.0|                  1.0|       90.55|                 2.5|       1.75|
|       2| 2023-08-31 23:59:51|  2023-09-01 00:09:36|            1.0|         1.27|       1.0|                 N|          48|         230|           2|       10.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        15.7|                 2.5|        0.0|
|       2| 2023-08-31 23:59:51|  2023-09-01 00:18:54|            5.0|         3.42|       1.0|                 N|         249|          48|           1|       20.5|  1.0|    0.5|       5.1|         0.0|                  1.0|        30.6|                 2.5|        0.0|
|       1| 2023-08-31 23:59:47|  2023-09-01 00:46:31|            4.0|         18.4|       2.0|                 N|         132|          48|           2|       70.0| 4.25|    0.5|       0.0|        6.94|                  1.0|       82.69|                 2.5|       1.75|
|       1| 2023-08-31 23:59:44|  2023-09-01 00:19:34|            1.0|          3.3|       1.0|                 N|         100|          43|           1|       18.4|  3.5|    0.5|      4.65|         0.0|                  1.0|       28.05|                 2.5|        0.0|
|       2| 2023-08-31 23:59:43|  2023-09-01 00:15:59|            1.0|         3.16|       1.0|                 N|          48|         262|           1|       17.7|  1.0|    0.5|      4.54|         0.0|                  1.0|       27.24|                 2.5|        0.0|
|       2| 2023-08-31 23:59:42|  2023-09-01 00:29:41|            1.0|        21.07|       1.0|                 N|         132|         182|           2|       77.2|  1.0|    0.5|       0.0|        6.94|                  1.0|       88.39|                 0.0|       1.75|
|       1| 2023-08-31 23:59:42|  2023-09-01 00:25:59|            1.0|          0.0|      99.0|                 N|         218|         218|           1|       28.5|  0.0|    0.5|       0.0|         0.0|                  1.0|        30.0|                 0.0|        0.0|
|       1| 2023-08-31 23:59:42|  2023-09-01 00:05:51|            2.0|          1.3|       1.0|                 N|         237|         239|           1|        9.3|  3.5|    0.5|       1.0|         0.0|                  1.0|        15.3|                 2.5|        0.0|
|       1| 2023-08-31 23:59:39|  2023-09-01 00:12:25|            1.0|          2.3|       1.0|                 N|         234|          48|           1|       13.5|  3.5|    0.5|       5.5|         0.0|                  1.0|        24.0|                 2.5|        0.0|
|       2| 2023-08-31 23:59:38|  2023-09-01 00:06:47|            1.0|          1.5|       1.0|                 N|         163|         142|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [40]:
df_09 = spark.sql(
    """
        SELECT
            MONTH(tpep_pickup_datetime) pickup_month,
            count(*) count
        FROM
            (
                SELECT
                    *
                FROM
                    Taxi T
                WHERE
                    T.tpep_pickup_datetime
                        LIKE
                            "2023-__-01%"
            ) F
        GROUP BY
            pickup_month
        ORDER BY 
            count DESC  
    """
)
df_09.show()

+------------+------+
|pickup_month| count|
+------------+------+
|           6|123274|
|           4|117001|
|           3|115297|
|           2|107780|
|          10|102966|
|           5| 99694|
|           8| 98390|
|           9| 86692|
|           7| 81262|
|           1| 76757|
|          11|     8|
+------------+------+

In [45]:
df_10 = spark.sql(
    """
        SELECT
            MONTH(tpep_pickup_datetime) month,
            MAX(passenger_count) max_passenger,
            count(*) count
        FROM
            Taxi T
        GROUP BY
            month
        HAVING
            count >= 1000
        ORDER BY
            count DESC
    """
)
df_10.show()

+-----+-------------+-------+
|month|max_passenger|  count|
+-----+-------------+-------+
|   10|          9.0|7198065|
|    5|          9.0|7101956|
|    3|          9.0|7031548|
|    4|          9.0|6888151|
|    6|          9.0|6864951|
|    7|          9.0|6081456|
|    9|          9.0|6030525|
|    8|          9.0|5976896|
|    2|          9.0|5893423|
|    1|          9.0|5530710|
|   12|          9.0|3399677|
|   11|          9.0|3252684|
+-----+-------------+-------+